.home {
  background: #171926;
  display: flex;
  justify-content: space-between;
  padding: 124px 60px;
  padding-top: 0 !important;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 10px !important;
}
.home_left {
  width: 100%;
}
.home_left > h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 27px;
}
.home_form_icon {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}
.home_form_icon p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #a6aac3;
  margin-left: 10px;

}
.price_:hover,
.login:hover {
  background: #252531;
}
.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 14px 36px;
  background: #202232;
  margin-bottom: 30px;
  border-radius: 12px;
  transition: 200ms ease;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
}

.login > input {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 16px;
  color: #a6aac3;
  background: transparent;
  border: none;
}
.form_login_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}
.price_ > input:focus ~ svg g,
.login > input:focus ~ .form_login_flex svg g {
  opacity: 1;
  cursor: pointer;
}

.form_login {
  display: flex;
  align-items: center;
  background: #2b2e44;
  border-radius: 16px;
  padding: 12px 20px;
  cursor: pointer;
}

.form_login:hover p {
  color: #ffffff;
}
.form_login:hover svg path {
  fill: #ffffff;
}

.form_login p {
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #a6aac3;
}
.price_ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #202232;
  margin-bottom: 30px;
  padding: 16px 36px;
  border-radius: 12px;
  transition: 200ms ease;
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  -ms-transition: 200ms ease;
  -o-transition: 200ms ease;
}
.price_ input {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 16px;
  color: #a6aac3;
  background: transparent;
  border: none;
}
.radio_price {
  display: flex;
}
.input_radio {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  cursor: pointer;
  justify-content: space-between;
  width: max-content;
  margin-right: 10px;
}
.input_radio input {
  width: 24px;
  height: 24px;
  background: transparent;
  border: 1px solid #a6aac3;
}
.input_radio p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 16px;
  color: #a6aac3;
  margin: 0 10px;
}
.checkbox_inp {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.checkbox_inp p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  margin-left: 12px;
  user-select: none;
}
.checkbox_inp input {
  display: none;
}
.checkbox_inp .d-grid-checkbox svg {
  transition: 100ms ease;
  -webkit-transition: 100ms ease;
  -moz-transition: 100ms ease;
  -ms-transition: 100ms ease;
  -o-transition: 100ms ease;
  position: absolute;
  top: 0;
  left: 0;
}
.checkbox_inp input:checked ~ .d-grid-checkbox .default-checkbox {
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.d-grid-checkbox .checked-checkbox {
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}
.checkbox_inp input:checked ~ .d-grid-checkbox .checked-checkbox {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.d-grid-checkbox {
  display: grid;
  overflow: hidden;
  width: 16px;
  height: 16px;
  position: relative;
}

.button-linear {
  width: 100%;
  padding: 23px 0;
  background: linear-gradient(269.4deg, #0d6728 0.2%, #27b150 99.88%);
  border-radius: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 53px;
  border: 1px solid transparent;
  cursor: pointer;
  background-origin: border-box;
  user-select: none;
  background-position: 0 0;
  background-size: 100% 100%;
  transition: 300ms ease;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -ms-transition: 300ms ease;
  -o-transition: 300ms ease;
}
.button-linear:hover {
  background-position: 100% 100%;
  background-size: 200% 200%;
}
.home_price_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
}
.home_price_flex p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #a6aac3;
}

.home_price_flex p:nth-child(2) {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.home_price_flex::after {
  border-bottom: 2px dashed rgba(166, 170, 195, 0.3);
  bottom: 6px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.home_price_flex * {
  z-index: 2;
  background: #171926;
}
.home_right {
  height: 50%;
  margin: 0 0 0 30px;
  background: #202232;
  border-radius: 12px;
  border: 1px solid #202232;
  padding: 20px 35px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home_right.respons-min {
  display: none;
}
@media screen and (max-width: 1200px) {
  .home_right {
    display: none;
  }
  .home_right.respons-min {
    display: block;
    margin-bottom: 20px;
  }
}
.home_right > p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.03em;
  color: #a6aac3;
  margin-bottom: 20px;
}
.master_card_flex {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}
.card_ {
  width: 170px;
  padding: 14px 19px;
  height: 90px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.card_ input {
  display: none;
}

.card_ input:checked ~ span {
  width: 120%;
  height: 120%;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: -10%;
  left: -10%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.error-input-text {
  color: red;
  margin: 5px 0;
}
.card_ img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}
.footer_main p {
  width: max-content;
}
